<link rel="stylesheet" href="/public/css/web/becomeHostFamily.css">
<div class="banner"></div>
<div class="banner_info"></div>
<div class="banner_txt">
    <p>Become a host family with S&H?</p>
    <button type="button" class="btn btn-default btn-lg" id="_start">Start right now</button>
</div>
<div class="main_box">
    <div class="title_1"><i>————</i>&nbsp;&nbsp;&nbsp;<span>Reasons to become a host family</span>&nbsp;&nbsp;&nbsp;<i>————</i></div>
    <div class="row info1_box">
        <div class="col-md-4">
            <div class="info1_img1"></div>
            <div class="info1_txt">Get to learn about a different culture background in your own home</div>
        </div>
        <div class="col-md-4">
            <div class="info1_img2"></div>
            <div class="info1_txt">Earn extra income by space-sharing</div>
        </div>
        <div class="col-md-4">
            <div class="info1_img3"></div>
            <div class="info1_txt">Your personal info is safe and reliable with us</div>
        </div>
    </div>
    <div class="title_2"><i>————</i>&nbsp;&nbsp;&nbsp;<span>Steps to follow</span>&nbsp;&nbsp;&nbsp;<i>————</i></div>
    <div class="row info2_box">
        <div class="steps">
            <div class="step_label">Step 1</div>
            <div class="info2_icon_box"><i class="icon iconfont" style="font-size: 56px;padding-left: 7px">&#xe687;</i></div>
            <div class="info2_txt">Sign up and create an account</div>
        </div>
        <div class="steps">
            <div class="step_label">Step 2</div>
            <div class="info2_icon_box"><i class="icon iconfont" style="font-size: 49px;padding-left: 2px;line-height: 1.3">&#xe614;</i></div>
            <div class="info2_txt">Input personal information and complete your profile</div>
        </div>
        <div class="steps">
            <div class="step_label">Step 3</div>
            <div class="info2_icon_box"><i class="icon iconfont" style="font-size: 56px;padding-left: 2px">&#xe62c;</i></div>
            <div class="info2_txt">Post your property listing</div>
        </div>
        <div class="steps">
            <div class="step_label">Step 4</div>
            <div class="info2_icon_box"><i class="icon iconfont" style="font-size: 48px;padding-left: 2px;line-height: 1.4">&#xe6b1;</i></div>
            <div class="info2_txt">Submit for verification</div>
        </div>
        <div class="steps">
            <div class="step_label">Step 5</div>
            <div class="info2_icon_box"><i class="icon iconfont" style="font-size: 49px;padding-left: 2px">&#xe60a;</i></div>
            <div class="info2_txt">Profile page released and start receiving reservations</div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<script>
    $('#_start').click(function(){
        location.href="/web/BCHome";
    })
</script>
<style>
    .layui-layer-demo .box{padding:10px 20px}
    .layui-layer-demo .title{color: orangered}
    .layui-layer-demo p{line-height: 22px}
</style>